<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Nathan Lupke</title>
    <meta name="author" content="Nathan Lupke" />
    <meta name="description" content="" />
    <link rel="canonical" href="https://www.nathanlupke.nl/" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/gdpr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/experience.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/home.js" asp-append-version="true" defer></script>
    <script src="~/js/main.js" asp-append-version="true" defer></script>
    <script src="~/js/gdpr.js" asp-append-version="true" defer></script>
    <script src="~/js/hamburger-menu.js" asp-append-version="true" defer></script>
    <script src="~/js/experience.js" asp-append-version="true" defer></script>
    <script src="~/js/contact.js" asp-append-version="true" defer></script>
</head>
<body>
    <header>
        <h1>
            <a asp-area="" asp-controller="Home" asp-action="Index">Nathan <span>Lupke</span></a>
        </h1>
        <nav class="navbar">
            <ul class="header-links">
                <li>
                    <a asp-area="" asp-controller="home" asp-action="Index"
                       class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "btn" : "")">
                        Home
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ervaring" asp-action="Index"
                       class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ervaring" ? "btn" : "")">
                        Ervaring
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="contact" asp-action="Index"
                       class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "btn" : "")">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <button onclick="toggleMenu()">
                <i id="hamburger-icon" class='bx bx-menu-alt-right' ></i>
            </button>
        </div>
        
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>
            &copy; <span id="copyright-year"></span> Nathan Lupke |  <a asp-area="" asp-controller="privacy" asp-action="Index">Privacy</a> | <a href="#" target="_blank">Algemene voorwaarden</a>
        </p>
       <div class="socials">
           <a href="https://www.linkedin.com/in/nathan-lupke-a09a4124b/" target="_blank">
                <i class='bx bxl-linkedin'></i>
           </a>
           <a href="https://www.instagram.com/nathanlupke/" target="_blank">
                <i class='bx bxl-instagram'></i>
           </a>
           <a href="https://github.com/Lunthn" target="_blank">
                <i class='bx bxl-github'></i>
           </a>
           <a href="https://discordapp.com/users/536527650647179275/" target="_blank">
               <i class="bx bxl-discord-alt"></i>
           </a>
              
       </div>
    </footer>

    <div class="gdpr">
        <div class="gdpr-header">
            <i class="bx bx-cookie"></i>
            <h3>Cookiebeleid</h3>
        </div>
        <div class="gdpr-content">
            <p>
                Deze website maakt gebruik van cookies om de gebruikerservaring te verbeteren. Door op "Accepteren" te klikken, ga je akkoord met het gebruik van cookies. <a asp-area="" asp-controller="privacy" asp-action="Index">Lees meer..</a>
            </p>
        </div>
        <div class="gdpr-buttons">
            <button id="gdpr-accept" class="gdpr-button">Accepteren</button>
            <button class="gdpr-button">Weigeren</button>
        </div>
    </div>
</body>
</html>
